
<link class="style" href="../Css/exat-summary.css" rel="stylesheet"
	type="text/css">
<!-- <script type="text/javascript"> $(".YearSub").html($("#exatparamYearList").val()) ;</script> -->
<!-- <script type="text/javascript"> $(".YesterdaySub").html($("#exatparamYesterday").val()) ;</script> -->

<div class="panel" style="padding: 20px;">
	<div class="row">
		<div class="col-md-6" id="box1">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center">
								<span class=Charttext_Tap1-1></span>
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-12">

								<div id="Chart_Tap1-1" class="chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6" id="box2">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title text-center ">
								<span class="Charttext_Tap1-2"></span>
							</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<br>
								<div id="Chart_Tap1-2" class="chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="box3">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center ">
						<span class="Charttext_Tap1-3"></span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<br>
						<div id="Chart_Tap1-3" class="chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="box4">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center ">
						<span class="Charttext_Tap1-4"></span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<br>
						<div id="Chart_Tap1-4" class="chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>