
<link class="style" href="../Css/exat-summary.css" rel="stylesheet"
	type="text/css">
<!-- <script type="text/javascript"> $(".YearSub").html($("#exatparamYearList").val()) ;</script> -->
<!-- <script type="text/javascript"> $(".YesterdaySub").html($("#exatparamYesterday").val()) ;</script> -->

<div class="panel">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="ChartHead_Tap2-1"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
									
										<div id="Chart_Tap2-1" class="chart"> 
											<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="ChartHead_Tap2-2"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
									
										<div id="Chart_Tap2-2" class="chart"> 
											<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="ChartHead_Tap2-3"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
									
										<div id="Chart_Tap2-3" class="chart"> 
											<!-- Generate source code by Controller(tab2-traffic-duration.js). -->
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
