
<link class="style" href="../Css/exat-summary.css" rel="stylesheet"
	type="text/css">
<!-- <script type="text/javascript"> $(".YearSub").html($("#exatparamYearList").val()) ;</script> -->
<!-- <script type="text/javascript"> $(".YesterdaySub").html($("#exatparamYesterday").val()) ;</script> -->

<div class="panel">
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-1"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-1" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-2"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-2" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-3"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-3" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-4"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-4" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-5"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-5" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title text-center">
										<span id="Charttext_Tap3-6"></span>
									</h3>
								</div>
								<div class="panel-body">
									<div class="col-md-12">
										<div id="Chart_Tap3-6" class="chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
